# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Database Configuration
DB_USER=root
DB_PASSWORD=your_db_password_here
DB_HOST=localhost
DB_NAME=homelike

# Flask Configuration
FLASK_SECRET_KEY=your_secret_key_here
FLASK_ENV=development

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.6.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/12.6.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDSkgVemEy2oJ8NHYoUND7UqOOBrJiyJJk",
    authDomain: "hostel-management-system-f7e7a.firebaseapp.com",
    projectId: "hostel-management-system-f7e7a",
    storageBucket: "hostel-management-system-f7e7a.firebasestorage.app",
    messagingSenderId: "13463990026",
    appId: "1:13463990026:web:eba201c9d57cbc2c5bd4f3",
    measurementId: "G-K1656BFKVD"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>